# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore staticfiles
/staticfiles/

# Ignore media files
/media/

# Ignore local settings
local_settings.py

# Ignore Django migration files
/migrations/

# Ignore sensitive information
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# ignore migrations
/migrations/
